@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.MainLayout {
  .content {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}
