@mixin flex-container($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin radius-type($background: transparent) {
  border-radius: 30px;
  background-color: $background;
  color: $other;
}
