// Default colors
//--------------------------------------------------------------------//
$black: #000000;
$white: #ffffff;

// Design colors
//--------------------------------------------------------------------//

$primary: #131c21;
$secondary: #707532;
$active: #bfbe32;
$other: $white;
