// Default colors
//--------------------------------------------------------------------//
$black: #000000;
$white: #ffffff;

// Design colors
//--------------------------------------------------------------------//

$primary: #131c21;
$secondary: #707532;
$active: #bfbe32;
$other: #e0dbdb;

$primary-alpha: #131c21a6;
