@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.Navbar {
  @include flex-container(row);
  gap: 30px;
  list-style-type: none;

  li {
    a {
      text-decoration-line: none;
    }
  }
}
