@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.Footer {
  position: relative;
  height: 400px;
  &__background {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: saturate(0.5);
    }
  }

  &__content {
    @include flex-container(column);
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-alpha;
    backdrop-filter: blur(8px);
    justify-content: space-around;
    color: $other;

    .firstSection {
      @include flex-container(row);
      align-items: baseline;
      justify-content: space-around;
    }

    hr {
      width: 100%;
    }

    .secondSection {
      @include flex-container;
      justify-content: space-evenly;
    }

    .socials {
      align-self: center;
      display: flex;
      gap: 10px;

      .twitter {
        box-sizing: border-box;
        padding: 1px;
      }

      & > * {
        color: $primary;
        font-size: 1.4em;
        background-color: $other;
        border-radius: 50%;
      }
    }
  }
}
